/* red : D43C33*/

body{
	font-size: 15px;
}
.sectionTitle{
 	border-left: 2px solid #D43C33;
	font-size: 17px;
	/*和字体一样高*/
	line-height: 1;
	padding-left: 8px;
	margin: 20px 0 8px;
}

/*头部固定*/
.sticky{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background: #fff;
}

/*头部样式*/
section.topbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 17px 10px;
	background-color: #D43C33;
}
section.topbar .logo>svg{
	width: 142px;
	height: 25px;
	/*所有的inline-block都是bug*/
	vertical-align: top;
}
section.topbar > a{
	position: relative;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	/*宽高从里面往外填充*/
	padding: 5px 11px;
	line-height: 20px;
}
/*比1px还要细*/
section.topbar > a::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 200%;
	height: 200%;
	border: 1px solid #fff;
	border-radius: 50px;
	transform: scale(.5);
	transform-origin: 0 0;
}


/*tab css样式*/
.tabs{
	display: flex;
	border-bottom: 1px solid #ccc;
}
.tabs>li{
	width: 33.333333%;
	text-align: center;
	line-height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tabs > li >.text{
	position: relative;
	padding: 10px 5px;
	top: 1px;
}
.tabs >li.active{
	color: #D43C33;
}
.tabs > li.active>.text{

}
.tabs > li.active>.text::after{
	content: '';
	position: absolute;
	height: 2px;
	background: #D43C33;
	bottom: 0;
	/*bottom: 1px;*/
	left: 1px;
	width: 100%;
}

/*固定距离上*/
.tab-content{
	margin-top: 105px;
}
.tab-content > li{
	display: none;
}
.tab-content > li.active{
	display: block;	
}



/*推荐歌单样式*/

/*section.playlists h2{
	border-left: 2px solid #D43C33;
	font-size: 17px;
	line-height: 1;
	padding-left: 8px;
	margin: 20px 0 8px;
}*/

/*防止margin合并*/
.noCollapse::after{
	content: '';
	display: table;
}
.noCollapse::before{
	content: '';
	display: table;
}


section.playlists > ol.songs{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 13px;
}

section.playlists > ol.songs > li{
	width: 32.8%;
	/*display: flex 没有margin合并*/
	margin: 8px 0;
}
section.playlists > ol.songs > li p{
	/*多行省略号*/
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	line-height: 18px;
	height: 36px;
	padding: 0 6px;
	font-size: 13px;
}
section.playlists > ol.songs > li img{
	width: 100%;
}



/*最新音乐*/
section.songs > .list{
	margin-top: 18px;
}
section.songs > .list >li > h3{
	font-size: 17px;
}
section.songs > .list >li > p{
	font-size: 12px;
	color: #888;
}
section.songs > .list > li{
	position: relative;
	margin-left: 10px;
	padding-bottom: 6px;
	padding-top: 5px;
	border-bottom: 1px solid #e2e2e3;
}
section.songs > .list .playButton{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
section.songs > .list .icon-play{
	width: 22px;
	height: 22px;
	vertical-align: middle;
	fill: #AAA;
}
section.songs > .list .icon-sq{
	fill: #fe672e;
}


/*尾部*/
section.art{
	padding-top: 38px;
	background: transparent url(https://i.loli.net/2018/01/17/5a5f53b2723f7.png) no-repeat center;
	background-size: cover; 
	text-align: center;
	padding-bottom: 18px;
}
/*section.art .logo{
	display: flex;
	justify-content: center;
}*/
section.art .logo>svg{
	width: 230px;
    height: 44px;

}
section.art .link-wrapper>a{
	display: inline-block;
	border: 1px solid;
	color: #d33a31;
	line-height: 40px;
	font-size: 16px;
	padding: 0 19px;
	border-radius: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
}
section.art .copyright{
	font-size: 12px;
	transform: scale(.75);
	color: #888;
}
